/*
    1 - Posicionamiento
    2 - Modelo Caja 
    3 - Tipografía
    4 - Visuales
    5 - Otros
*/

:root {
  --black: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  font-size: 62.5%;
  font-family: "Courier New", Courier, monospace;
}

.tablero {
  display: grid;
  justify-content: center;
  grid-gap: 20px 20px;
  grid-template: 70px 70px 70px / 70px 70px 70px;
  width: auto;
  min-width: 170px;
  max-width: 900px;
  height: auto;
  padding: 20px;
  color: white;
  background-color: black;
  margin: auto;
}

.casillero {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  border: 1px solid white;
}
